name: Limpieza de Im치genes Antiguas

on:
  # Ejecutar autom치ticamente todos los lunes a las 4:00 AM UTC
  schedule:
    - cron: '0 4 * * 1'
  
  # Permite ejecutarlo manualmente desde la pesta침a "Actions" para probar
  workflow_dispatch:

jobs:
  clean-ghcr:
    runs-on: ubuntu-latest
    # Permisos necesarios para poder borrar paquetes
    permissions:
      packages: write
      contents: read

    steps:
      - name: Borrar im치genes antiguas
        uses: quartx-analytics/ghcr-cleaner@v1
        with:
          owner-type: org
          token: ${{ secrets.PAT_TOKEN }}
          repository-owner: ${{ github.repository_owner }}
          package-name: payload-agents-web
          delete-untagged: true
          keep-at-most: 5
          skip-tags: latest
